<html>
    <body>
        <h1>Form</h1>

        <form method="POST" action="/new">
            <input type="text" id="name" name="name">
            <input type="text" id="message" name="message">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>