<html>
    <head>
        <title>Message board</title>
    </head>
    <body>
        <a href="/new">New message</a>
        <ul>
            <% messages.forEach((message) => { %>
                <li><%= message.username %> sent a message.
                     <a href="/message/<%= message.id %>">View</a>
                     <a href="/message/<%= message.id %>/delete">Delete</a>
                </li> 
            <% }); %>
        </ul>
        
    </body>
</html>