<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <a href="/new">New user</a>

        <% messages.forEach((message) => { %>
            <%- include('user', {user: message.user, id: message.msgId }); %>
        <% }); %>
    </body>
</html>