<html>
    <head>
        <title>Message board</title>
    </head>
    <body>
        <a href="/new">New message</a>
        <ul>
            <% messages.forEach((message) => { %>
                <li><%= message.username %> sent a message.</li>
                <a href="/message">View</a>
            <% }); %>
        </ul>
        
    </body>
</html>